# Rendering
# RenderManager
public net.minecraft.client.renderer.entity.RenderManager field_178636_l # skinMap

# Items
# ItemFood
public net.minecraft.item.ItemFood field_77851_ca # potionId

# Entities
# Player
public net.minecraft.entity.player.EntityPlayer field_71100_bB # foodStats

# Other
# AxisAlignedBB
public-f net.minecraft.util.math.AxisAlignedBB field_72340_a # minX
public-f net.minecraft.util.math.AxisAlignedBB field_72338_b # minY
public-f net.minecraft.util.math.AxisAlignedBB field_72339_c # minZ
public-f net.minecraft.util.math.AxisAlignedBB field_72336_d # maxX
public-f net.minecraft.util.math.AxisAlignedBB field_72337_e # maxY
public-f net.minecraft.util.math.AxisAlignedBB field_72334_f # maxZ
# EnumParticleTypes
public net.minecraft.util.EnumParticleTypes field_179365_U # PARTICLES
public net.minecraft.util.EnumParticleTypes field_186837_Z # BY_NAME