# Rendering
public net.minecraft.client.renderer.entity.RenderManager field_178636_l # skinMap

# Entities
# TippedArrow
public net.minecraft.entity.projectile.EntityTippedArrow field_184561_h # customPotionEffects
public net.minecraft.entity.projectile.EntityTippedArrow field_184560_g # potion